h1 {
    color:azure;
    text-align: center;
    width:100%;
    font-style: italic;
    text-size-adjust:inherit;

    padding: 30px;
    background-color: darkgreen;
    border:none;
    border-radius:8px;
    margin-top:20px;
    }
  h2 {
    color: black;
    font-style: italic;
    text-align: center;
    padding: 30px;
    margin-top: 20px;

  }
  body{
    padding: 30px;
    color: green;
    font-style: italic;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
    background-color:lightgoldenrodyellow;
  }
  img{
    padding: 30px;
    color: green;
    font-style: italic;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right:400px;
    padding-left: 400px;
    border-style:double;

    object-fit: cover;
    max-width:400px;
    max-height:500px;
    width: 600%;
    height: 400px;
  }
  div
  {background-color:darkgreen;
    padding: 30px;
    border:none;
    border-radius:8px;
    margin-top:20px;
    width:100%;
  }
b
{color: black;
  padding: 30px;
  margin-top: 20px;;


}
  footer
  {
color:azure;
text-size-adjust:inherit;


  }
  
