h1 {
    color:azure;
    text-align: center;
    width:100%;
    font-style: italic;
    text-size-adjust:inherit;

    padding: 30px;
    background-color: darkgreen;
    border:none;
    border-radius:8px;
    margin-top:20px;
    }
  h2 {
    color: green;
    font-style: italic;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
  }
  body{
    padding: 30px;
    color: green;
    font-style: italic;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
  }
  img{
    padding: 30px;
    color: green;
    font-style: italic;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right:30px;
    padding-left: 30px;

    object-fit: cover;
    max-width:400px;
    max-height:500px;
    width: 600%;
    height: 400px;
  }