h1 {
    color:azure;
    text-align: center;
    width:100%;
    font-style: italic;
    text-size-adjust:inherit;

    padding: 30px;
    background-color: darkgreen;
    border:none;
    border-radius:4px;
    margin-top:20px;
    }
  h2 {
    color: green;
    font-style: italic;
    text-align: center;
  }
  
  #ul {
    
       }
  p {
    font-family: sans-serif;
  }
  ul {
    line-height: 40px;
  }